@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans",sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
  text-align: center;
}
.none {
  list-style-type: none;
}

/*header*/

.navigation-link {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration-line: none;
}
.link-search {
  background: url("../images/icons/search-icon.svg") no-repeat;
  background-size: 20px 20px;
}
.link-heart {
  background: url("../images/icons/heart-icon.svg") no-repeat;
  background-size: 20px 20px;
}
.button {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration-line: none;

}
.button-brown {
  background: #756157;
}
.button-blue {
  background: #82B3D3;
}
.button-green {
  background: #7DB54F;
}

/*hero блок*/

.hero-background {
  background-image: url("../images/icons/hero-ladder.svg"), url("../images/pictures/the-mountains-picture.jpg");
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-color: #000000;
  background-size: 100% auto;
}

/*Блок преимуществ*/

.advantages-description-title,
.promo-description-title,
.search-title-description,
.subscribe-title,
.search-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.advantages-description-items,
.promo-description,
.subscribe-description {
  font-size: 22px;
  line-height: 26px;
}
.advantages-title,
.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-list li:first-child,
.advantages-list li:nth-last-child(1) {
  background-color: #82B3D3;
  color: #FFFFFF;
}
.advantages-list li:nth-child(2),
.advantages-list li:nth-last-child(2),
.services-list li:first-child,
.services-list li:nth-last-child(1) {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-list li:nth-of-type(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

/*promo блок*/

.services-item-accommodation {
  background: url("../images/icons/services-housing-icon.svg") no-repeat 50% 50%;
  background-size: 75px 72px;
}
.services-item-food {
  background: url("../images/icons/services-food-icon.svg") no-repeat 50% 50%;
  background-size: 75px 72px;
}
.services-item-souvenirs {
  background: url("../images/icons/services-souvenirs-icon.svg") no-repeat 50% 50%;
  background-size: 75px 72px;
}

/*Блок подписки*/

.subscribe-picture {
  background-image: url("../images/pictures/subscribe-background-picture.jpg");
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: 100% auto;
  color: #FFFFFF;
}

/*footer*/

.link-vk {
  background: url("../images/icons/vk-icon.svg") no-repeat;
  background-size: 24px 14px;
}
.link-telegram {
  background: url("../images/icons/telegram-icon.svg") no-repeat;
  background-size: 18px 16px;
}
.link-youtube {
  background: url("../images/icons/youtube-icon.svg") no-repeat;
  background-size: 22px 17px;
}
.contacts-phone {
font-size: 40px;
line-height: 40px;
text-align: center;
color: #000000;
text-transform: uppercase;
text-decoration-line: none;
}

/*catalog*/

.catalog-container {
  background-image: url("../images/pictures/catalog-background-picture.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
  background-color: #000000;
}
.breadcrumbs-icon {
  background: url("../images/icons/breadcrumbs-home-icon.svg") no-repeat;
    background-size: 13px 15px;
}
.breadcrumbs-arrow {
  background: url("../images/icons/breadcrumbs-arrow-icon.svg") no-repeat;
  background-size: 8px 19.94px;
}
.main-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}
.breadcrumbs-link {
  font-size: 16px;
}
.filter-subtitle {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}
.filter-title {
  line-height: 23px;
}
.card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}
.card-link {
  text-decoration-line: none;
}
.card-type {
  text-align: left;
}
.card-price {
  text-align: right;
}
.card-description {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: #F2F2F2;
  width: 140px;
  height: 37px;
}

/*Пагинация*/

.pagination-link {
  color: #FFFFFF;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
}
.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
.pagination-more {
  color: #000000;
  background-color: #FFFFFF;
}
